@import "Variables.scss";

@font-face {
  font-family: "Pixelify";
  src: url("../fonts/Pixelify_Sans/PixelifySans-VariableFont_wght.ttf");
}

html,
body,
#root {
  height: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  background-color: $off-white;
}

#root {
  font-family: "Pixelify", Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  font-size: 1.5rem;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  max-width: 1280px;
  margin: 0 auto;
}

header {
  max-width: none;
}

button {
  font-family: "Pixelify", Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
}
