@import "Variables.scss";

header {
  background-color: $pokemon-light-blue;
  color: $pokemon-yellow;
  font-size: 3rem;
  font-weight: 700;
  height: $header-height;
}

main {
  height: calc(100% - $header-height - $footer-height);
}

footer {
  background-color: $pokemon-light-blue;
  font-size: 1.25rem;
  line-height: 1.5;
  font-weight: 700;
  color: $pokemon-yellow;
  height: $footer-height;
}
