@import "Variables.scss";

// Header
header {
  position: relative;
  background-color: $pokemon-light-blue;
  color: $pokemon-yellow;
  font-weight: 700;
  height: $header-height;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;

  .spacer-div {
    flex: 1;
    max-width: 48px;
  }

  .header-text {
    flex: 1;
  }

  .logout-button {
    display: flex;
    justify-content: center;
    flex: 1;
    padding: 4px 4px 0 0;
    max-width: 48px;
    background-color: $pokemon-light-blue;
    color: $pokemon-yellow;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: $pokemon-dark-blue;
    }
  }
}

// Main
main {
  position: relative;
  height: calc(100% - $header-height - $footer-height);
  z-index: 100;
}

// Footer
footer {
  position: absolute;
  bottom: 0;
  background-color: $pokemon-light-blue;
  line-height: 1.5;
  font-weight: 700;
  color: $pokemon-yellow;
  height: $footer-height;
  z-index: 100;
}
