@import "Variables.scss";

.player-info-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto;
  justify-content: space-between;
  align-items: center;
  background-color: $white;
  padding: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.player-info-item {
  margin: 4px 0 0 0;
}
