@import "Variables.scss";

.region-separated-modal {
  height: calc(100% - calc($h4 * $line-height));

  .region {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem auto;

    .region-item,
    .routes-item {
      display: flex;
      justify-content: space-between;
      background-color: $off-white;
      width: 100%;

      &:hover {
        background-color: $light-gray;
      }

      .spacer-div,
      .arrow {
        flex: 1;
        max-width: 24px;
      }
    }

    .region-sub-list {
      width: 100%;
      .region-sub-list-item {
        margin: 0.25rem auto;

        &:hover {
          background-color: $light-gray;
        }
      }
    }
  }
}
