// Grayscale
$white: #eeeeee;
$off-white: #dddddd;
$lightest-gray: #cccccc;
$light-gray: #bbbbbb;
$gray: #555555;
$dark-gray: #2a2a2a;
$darkest-gray: #222222;

// Pokemon Logo
$pokemon-light-blue: #3466af;
$pokemon-dark-blue: #21386e;
$pokemon-darkest-blue: #1d2c5e;
$pokemon-yellow: #ffcb05;
$pokemon-dark-yellow: #c7a008;

// Pokeball
$pokeball-red: #ff0000;
$pokeball-white: #ffffff;
$pokeball-black: #000000;

// Screen widths
$mobile-max-width: 768px;
